.manage-product {
  &-error {
    border-color: red !important; // skeleton fix
  }

  & button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &-developer {
    position: relative;

    &-remove {
      position: absolute;
      right: 15px;
      top: 5px;
      cursor: pointer;
    }
  }

  &-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }
}
